<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
  <section class="main" *ngIf="todos.length > 0 && selection == 'ALL'">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
    <section class="main" *ngIf="openTodos.length > 0  && selection == 'OPEN'">
    <ul class="todo-list">
      <li *ngFor="let todo of openTodos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
    <section class="main" *ngIf="completedTodos.length > 0  && selection == 'COMPLETED'">
    <ul class="todo-list">
      <li *ngFor="let todo of completedTodos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="openTodos.length > 0 || completedTodos.length > 0">
    <!--<span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>-->
    <span style="margin-right:10px;" *ngIf="todos.length > 0" class="todo-count"  [class.is-selected]="selection == 'ALL'" (click)="changeSelection('ALL')"> Total: <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}}</span>
    <span style="margin-right:10px;" *ngIf="openTodos.length > 0" class="todo-count" [class.is-selected]="selection == 'OPEN'" (click)="changeSelection('OPEN')"><strong> Open: {{openTodos.length}}</strong> {{openTodos.length == 1 ? 'item' : 'items'}} </span>
    <span style="margin-right:10px;" *ngIf="completedTodos.length > 0" class="todo-count" [class.is-selected]="selection == 'COMPLETED'" (click)="changeSelection('COMPLETED')"><strong> Completed: {{completedTodos.length}}</strong> {{completedTodos.length == 1 ? 'item' : 'items'}} </span>
  </footer>
</section>
